{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to Travel Planning App {%endblock%}</h1>
    {% for destination in travelDestinations %}
        <a href="#">
            <h2>{{destination['DestinationName']}}</h2>
        </a>
        <span class="badge badge-primary"> Optimal quarter: {{destination['OptimalQuarter']}}</span>
        <span class="badge badge-secondary"> Priority: {{destination['Priority']}}</span>
        <hr>
    {% endfor %}
{% endblock %}